<h3>Tasks for <%= @list.title %></h3>
<div class="new-task">
  <%= link_to "Create New Task", new_task_path(list_id: @list.id), id: "new-task", remote: true %>
</div>
<div class="incomplete-tasks">
  <h4>Incomplete Tasks</h4>
  <% @list.tasks.incomplete.each do |task| %>
  <div class=<%= task.title %>>
    <%= task.title %>
    <%= task.due %>
    <%= link_to "Mark Complete", edit_task_path(task.id, list_id: @list.id), id: "change-status" %>
    <%= link_to "remove", task_path(task.id, list_id: @list.id), method: :delete, remote: true %>
  </div>
  <% end %>
</div>
<div class="complete-tasks">
  <h4>Complete Tasks</h4>
  <% @list.tasks.complete.each do |task| %>
    <%= task.title %>
    <%= task.due %>
    <%= link_to "Mark Incomplete", edit_task_path(task.id, list_id: @list.id), id: "change-status" %>
  <% end %>
</div>
