<div class="edit_task_form">
 <%= form_for :task, url: task_path(@task.id), method: :put do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label "Due Date" %>
  <%= f.text_field :due %>
  <%= f.label :completed %>
  <%= f.check_box :completed, {}, true, false %>
  <%= f.hidden_field :list_id, value: @list_id %>
  <%= f.submit "Submit" %>
 <% end %>
</div>
